<div class="container pt-5 text-center">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-3 pt-5">
                Contact Us
            </h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <p class="lead text-center">
                We'd love to hear from you about your project and give you a free quote on the development of your website. Just drop your email address below and we will reach out to you with all the details.
            </p>
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
</div>

<section class="bg-light-grey py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img src="assets/apollologo.png" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3 class="display-5">Get Your Free Quote!</h3>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-5">
                <div class="text-center">
                    <p class="lead">Receive a free quote on your website from Apollo today by giving us your email
                        below.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="https://formspree.io/f/xwkwnnag" method="POST" class="col-lg-6 offset-lg-3 mb-3">
            <div class="row justify-content-center">
                <input type="email" class="form-control-lg mr-2" name="email" id="" aria-describedby="emailHelpId"
                    placeholder="Enter Email" required>
                <button class="btn btn-outline-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>

