<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-3 py-4 mt-5"><span>Pricing</span></h1>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/pricing-1.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="display-5">
                Affordable Pricing for Everyone
            </h1>
            <p class="lead">
                Here at Apollo we want to be able to provide an affordable and professional website to every customer that reaches out to us.
                We will work with you to build a website within your budget while still helping your business or organization to look great on 
                the web. Reach out today for your free quote.
            </p>
        </div>
    </div>
</div>

<section class="bg-light-grey">
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-5">
                Get a Free Quote
            </h1>
            <p class="lead">
                Everybody gets a free initial estimate of what their project would cost from Apollo. If you dont like the estimate we give let 
                us know and we'd be more than happy to discuss it with you and your team! Again, we aim for every organization to have access to
                a great and affordable website.
            </p>
        </div>
        <div class="col-md-6">
            <img src="assets/pricing-2.png" alt="">
        </div>
    </div>
</div>
</section>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/pricing-3.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="display-5">
                Payment Plans Available
            </h1>
            <p class="lead">
                To make the website development process as affordable as possible, we offer the ability to pay 
                a little bit at a time or pay all at once, whatever works best for you. Just pay us the affordable price at an agreed upon 
                time and you'll be on your way to being on the web.
            </p>
        </div>
    </div>
</div>

<section class="bg-brown py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img src="assets/apollologo.png" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3 class="display-5">Get Your Free Quote!</h3>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-5">
                <div class="text-center">
                    <p class="lead">Receive a free quote on your website from Apollo today by giving us your email
                        below.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="https://formspree.io/f/xwkwnnag" method="POST" class="col-lg-6 offset-lg-3 mb-3">
            <div class="row justify-content-center">
                <input type="email" class="form-control-lg mr-2" name="email" id="" aria-describedby="emailHelpId"
                    placeholder="Enter Email" required>
                <button class="btn btn-outline-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>




