nav {
    background: var(--secondary-color);
    border-bottom: 5px var(--primary-color) solid;
}

img {
    height: 3rem;
}

a {
    color: white;
}

a:active {
    color: white;
}

ul a:hover {
    color: white;
    background: var(--primary-color);
    border-radius: 10%;
}

span {
    color: white;
}

h4 {
    color: var(--primary-color);
}

.page-footer {
    background: var(--secondary-color);
}