<nav class="navbar navbar-expand-md fixed-top">

  <a routerLink="/" routerLinkActive="active" class="navbar-brand"><img src="assets/apollologo.png" alt="image"
      class="img-fluid"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_nav">
    <span class="fas fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse_nav">
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item px-3">
        <a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item px-3">
        <a routerLink="/services" routerLinkActive="active" class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item px-3">
        <a routerLink="/pricing" routerLinkActive="active" class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item px-3">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 text-center pb-4">
        <h4 class="text-uppercase">Apollo</h4>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" routerLinkActive="active" href="#">Home</a>
          </li>
          <li>
            <a routerLink="/services" routerLinkActive="active" href="#">Services</a>
          </li>
          <li>
            <a routerLink="/pricing" routerLinkActive="active" href="#">Pricing</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center pb-4">
        <h4 class="text-uppercase">Find Out More</h4>
        <a routerLink="/contact" routerLinkActive="active" href="#">Email for a free quote</a>
      </div>
      <div class="col-md-4 text-center pb-4">
        <h4 class="text-uppercase">Social Media</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>