<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-3 py-4 mt-5 text-center"><span>Our Services</span></h1>
    </div>
</div>
<div class="container pt-5">
        <div class="row">
            <h1 class="display-3">What We Offer</h1>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <p class="lead">
                    Apollo is determined to bring affordable and high quality websites to every business and organization in
                    need of
                    one. We
                    take great pride in being able to give our clients what they want at a price that they can afford so they
                    can drive
                    more
                    traffic to their organization.
                </p>
            </div>
        </div>
</div>
<section class="bg-light-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="assets/services-1.png" alt="">
                </div>
                <p class="lead">
                    The complete package for your website. We will develop your site start to finish and cater to the needs of your business
                    or organization. From design to implementation your website will be completed exactly how you want it at a price that
                    nearly anybody can afford. Drive more traffic to your organization with a great website.
                </p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="assets/html.png" alt="">
                </div>
                <p class="lead">
                    We use modern web technologies to develop all of our websites with HTML5 being at the forefront of that list. HTML is an
                    industry standard tool to develop websites and we utilize it to its fullest potential to get the most for you and your
                    organization.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="assets/css.svg" alt="">
                </div>
                <p class="lead">
                    CSS3 is another industry standard web development tool utilized by the Apollo team. CSS allows us to make your website
                    look great and give your customers or viewers an authentic feel. We leverage this tool to help your business or
                    organization look as amazing as we know it is. With CSS we can show the entire world how great your organization truly
                    is.
                </p>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="assets/javascript.png" alt="">
                </div>
                <p class="lead">
                    Javascript allows us to add fantastic effects to your website and add yet another layer of polish and aesthetic so that
                    when people view your website they will fall in love with your organization. Javascript is yet another industry standard
                    tool used by the Apollo team and helps us provide the best final product possible to all our clients.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container my-5">
    <div class="row">
        <h1 class="display-5">Great websites with no compromises</h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p class="lead">
                We hold ourselves to the highest standards to provide you with exactly what your organization wants in a
                website. We
                will meet all of your needs and implement your website exactly the way that you want it. After all,
                nobody knows
                your
                organization quite as well as you do!
            </p>
        </div>
    </div>
</div>
<section class="bg-brown py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img src="assets/apollologo.png" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3 class="display-5">Get Your Free Quote!</h3>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-sm-5">
                <div class="text-center">
                    <p class="lead">Receive a free quote on your website from Apollo today by giving us your email
                        below.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="https://formspree.io/f/xwkwnnag" method="POST" class="col-lg-6 offset-lg-3 mb-5">
            <div class="row justify-content-center">
                <input type="email" class="form-control-lg mr-2" name="email" id="" aria-describedby="emailHelpId"
                    placeholder="Enter Email" required>
                <button class="btn btn-outline-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>