<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-3 py-4 mt-5 text-center"><span>Apollo Web Development</span></h1>
        <h3 class="display-5 py-4 text-center"><span>Helping you get on the web</span></h3>
        <p class="lead py-4 text-center">
            <a class="btn btn-primary btn-lg" routerLink="/contact" routerLinkActive="active" href="/contact" role="button">Contact Us</a>
        </p>
    </div>
</div>
<section class="bg-light-grey py-5">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-3">Why Apollo?</h1>
        </div>
        <div class="col-sm-6">
            <p class="lead">
                Apollo will design and develop your website to look amazing and bring more traffic to your online
                presence.
                With your new website you will be able to attract more traffic to your organization and showcase all the
                great things you
                are doing
            </p>
        </div>
    </div>
</div>
</section>
<section class="bg-off-white py-5">
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-3">What We Offer</h1>
        </div>
        <div class="col-sm-12">
            <p class="lead">
                Apollo offers design and development of your company's website that is affordable yet professional. You
                will get a
                production level website for less than what many other firms are charging. Contact us for a free quote
                today.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <img src="assets/web-dev-home.png" alt="">
            </div>
            <p class="lead">
                We will develop your website whether it's from scratch or making edits to an existing website. Your
                website will be
                fully functional and equipped with various features to help your business or organization thrive. Apollo
                will leave no
                stone unturned when it comes to the features of your website.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <img src="assets/web-design-home.png" alt="">
            </div>
            <p class="lead">
                We can also design your website for you if you do not already have an existing design. Pick from one of
                our design
                concepts or have us draft a look for your website from scratch. Apollo will make sure your website looks
                as great as it
                possibly can.
            </p>
        </div>
    </div>
    <div class="text-center mt-3 mb-5">
        <a routerLink="/services" routerLinkActive="active" href="/services" class="btn btn-outline-primary btn-lg">Read More</a>
    </div>
</div>
</section>
<section class="bg-light-grey py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5">
                <h1 class="display-3">Our Pricing</h1>
                <p class="lead">
                    Apollo aims to help small businesses and organizations increase their web presence, so our prices are
                    affordable. We
                    quote each website on a case by case basis, so simply contact us for your free quote and find out just
                    how affordable it
                    is to get your website developed by Apollo!
                </p>
            </div>
            <div class="col-lg-7">
                <img src="assets/home-about-section.jpg" alt="">
            </div>
        </div>
        <div class="text-center mt-3 mb-5">
            <a routerLink="/pricing" routerLinkActive="active" href="/pricing" class="btn btn-outline-primary btn-lg">See
                Pricing</a>
        </div>
    </div>
</section>
<section class="bg-brown py-5">
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <img src="assets/apollologo.png" alt="">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="text-center">
                <h3 class="display-5">Get Your Free Quote!</h3>
            </div>
        </div>
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-sm-5">
            <div class="text-center">
                <p class="lead">Receive a free quote on your website from Apollo today by giving us your email below.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="https://formspree.io/f/xwkwnnag" method="POST" class="col-lg-6 offset-lg-3 mb-3">
        <div class="row justify-content-center">
            <input type="email" class="form-control-lg mr-2" name="email" id="" aria-describedby="emailHelpId"
                placeholder="Enter Email" required>
            <button class="btn btn-outline-primary btn-lg">Submit</button>
        </div>
    </form>
</div>
</section>
